@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem);
  }
  75% {
    transform: translateX(0.7rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  75% {
    transform: translateX(-0.7rem);
  }
  100% {
    opacity: 1;
    transofmr: translateX(0);
  }
}

@keyframes btnMove {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  75% {
    transform: translateY(-0.6rem);
  }
  100% {
    transform: translateY(0);
  }
}
.moveRight {
  animation: moveInLeft 1.5s ease-in-out;
}
